<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CooperativeSystem.Service.Properties.Settings.CooperativeSystemConnectionString"
      connectionString="Data Source=(local);Initial Catalog=csdb_prod;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="CooperativeSystem.Service.Properties.Settings.csdb_prodConnectionString"
      connectionString="Data Source=192.0.0.1;Initial Catalog=csdb_prod;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="CooperativeSystem.Service.Properties.Settings.csdb_prodConnectionString1"
      connectionString="Data Source=(local);Initial Catalog=csdb_prod;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
